@font-face {
    font-family: RubikBold;
    src: url(./assets/fonts/Rubik-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: RubikReg;
    src: url(./assets/fonts/Rubik-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: RubikMed;
    src: url(./assets/fonts/Rubik-Medium.ttf);
    font-weight: 500;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
    -moz-box-shadow: $x $y $blur $spread $color;
    -webkit-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
}

body {
    width: 1440px;
    background-color: #FFFFFF;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
    span {
        display: flex;
        align-items: center;
        font-family: RubikMed, sans-serif;
        font-size: 20px;
        color: #0B132A;
        text-align: center;
        margin-right: 158px;
        .logo {
            width: 35px;
            height: 36.23px;
            margin-right: 10px;
        }
    }
    a {
        text-decoration: none;
        color: #4F5665;
        font-family: RubikReg, sans-serif;
        font-size: 16px;
    }

    div {
        display: flex;
        flex-direction: row;
        font-family: RubikMed, sans-serif;
        font-size: 16px;
        color: #0B132A;
        align-items: center;
        margin-left: 150px;
        p {
            padding: 0 15px;
        }
        .active {
            border-radius: 50px;
            border: 1px solid #F53855;
            color: #F53855;
            width: 120px;
            height: 45px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.information {
    display: grid;
    margin-top: 88px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 95.61px 95.61px 95.61px 95.61px;
    margin-right: 83px;
    margin-left: 150px;

    img {
        grid-column: 2;
        grid-row: 1/4;
        width: 611.24px;
        height: 382.44px;
    }
    
    h1 {
        font-family: RubikMed, sans-serif;
        font-weight: 400;
        font-size: 50px;
        color: #0B132A;
        grid-row: 1/2;
        grid-column: 1;
        line-height: 70px;

        span {
            font-family: RubikBold, sans-serif;
        }
    }

    p {
        font-family: RubikMed, sans-serif;
        font-size: 16px;
        color: #4F5665;
        grid-row: 3;
        grid-column: 1;
        line-height: 30px;
        span {
            font-family: RubikBold, sans-serif;
        }
    }

    button {
        width: 250px;
        height: 60px;
        background-color: #F53838;
        grid-column: 1;
        grid-row: 4;
        border-radius: 10px;
        border: none;
        color: #FFFFFF;
        font-family: RubikBold;
        cursor: pointer;
        @include box-shadow(0, 44px, 40px, -5px, #f5383859);
    }
}

.stats {
    margin: 0 150px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 200px;
    align-items: center;
    @include box-shadow(0, 62px, 130px, -5px, #0d102531);

    img {
        width: 55px;
        height: 55px;
    }

    .user {
        display: grid;
        grid-template-columns: 55px 36.5px auto;
        grid-template-rows: repeat(2, 32.5px);
        justify-content: center;
        align-items: center;
        img {
            grid-column: 1;
            grid-row: 1/3;
        }
        h2 {
            grid-column: 3;
            grid-row: 1/2;
            line-height: 0;
            text-align: center;
            font-family: RubikBold;
            font-size: 25px;
            line-height: 30px;
            color: #0B132A;
        }
        span {
            grid-column: 3;
            grid-row: 2/3;
            text-align: center;
            font-family: RubikReg;
            font-size: 20px;
            line-height: 30px;
            color: #4F5665;
        }
    }

    .location {
        border-right: 1px solid #EEEFF2;
        border-left: 1px solid #EEEFF2;
        display: grid;
        grid-template-columns: 55px 36.5px auto;
        grid-template-rows: repeat(2, 32.5px);
        justify-content: center;
        align-items: center;
        img {
            grid-column: 1;
            grid-row: 1/3;
        }
        h2 {
            grid-column: 3;
            grid-row: 1/2;
            line-height: 0;
            text-align: center;
            font-family: RubikBold;
            font-size: 25px;
            line-height: 30px;
            color: #0B132A;
        }
        span {
            grid-column: 3;
            grid-row: 2/3;
            text-align: center;
            font-family: RubikReg;
            font-size: 20px;
            line-height: 30px;
            color: #4F5665;
        }

    }

    .server{
        display: grid;
        grid-template-columns: 55px 36.5px auto;
        grid-template-rows: repeat(2, 32.5px);
        justify-content: center;
        align-items: center;
        img {
            grid-column: 1;
            grid-row: 1/3;
        }
        h2 {
            grid-column: 3;
            grid-row: 1/2;
            line-height: 0;
            text-align: center;
            font-family: RubikBold;
            font-size: 25px;
            line-height: 30px;
            color: #0B132A;
        }
        span {
            grid-column: 3;
            grid-row: 2/3;
            text-align: center;
            font-family: RubikReg;
            font-size: 20px;
            line-height: 30px;
            color: #4F5665;
        }
    }
}

.second-section {
    margin: 0 150px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 100%;
    gap: 169.48px;
    
    div {
        grid-column: 2;
        display: flex;
        flex-direction: column;
    }

    img {
        grid-column: 1;
    }

    h2 {
        font-family: RubikMed;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A;
    }

    h3 {
        font-family: RubikReg;
        font-family: 400;
        font-size: 16px;
        line-height: 30px;
        color: #4F5665;
    }

    p {
        display: flex;
        font-family: RubikReg;
        font-size: 14px;
        line-height: 30px;
        margin: 15px 0;
        &::before {
            content: url(./assets/images/check-mark.svg);
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
    }
}

.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .head-third-section {
        font-family: RubikMed;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .second-head-third-section {
        font-family: RubikReg;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin: 0;
        margin-bottom: 60px;
        color: #4F5665;
    }
    .cards {
        display: flex;
        flex-direction: row;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 330px;
            height: 760px;
            align-items: center;
            margin: 0 25px;
            border: 2px solid #DDDDDD;
            border-radius: 10px;
            
            img {
                margin-top: 80px;
                margin-bottom: 30px;
            }
            h4 {
                font-family: RubikMed;
                font-size: 18px;
                font-weight: 500;
                line-height: 30px;
                margin: 0;
                margin-bottom: 20px;
                color: #0B132A;
            }
            p {
                display: flex;
                font-family: RubikReg;
                font-weight: 400;
                font-size: 14px;
                line-height: 30px;
                margin: 10px 0;
                color: #4F5665;

                &::before {
                    content: url(/assets/images/jam_check.svg);
                    width: 24px;
                    height: 24px;
                    margin-right: 20px;
                }
            }

            div {
                h3 {
                    font-family: RubikMed;
                    font-size: 25px;
                    font-weight: 500;
                    line-height: 30px;
                    color: #0B132A;
                    margin: 0;
                    margin-bottom: 20px;

                    span {
                        font-family: RubikReg;
                        font-weight: 400;
                        color: #4F5665;
                    }
                }
                button {
                    border: 2px solid #F53838;
                    background-color: transparent;
                    color: #F53838;
                    font-family: RubikBold;
                    font-size: 16px;
                    border-radius: 50px;
                    width: 175px;
                    height: 45px;
                    margin-bottom: 50px;
                }
            }
        }
        .active-card {
            border: 2px solid #F53838;
            .active-button {
                @include box-shadow(0, 24px, 30px, -10px, #F53838);
                background-color: #F53838;
                color: #FFFFFF;
            }
        }
    }
}

.fouth-section {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-family: RubikMed;
        font-size: 35px;
        font-weight: 500;
        line-height: 50px;
        color: #0B132A;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    h3 {
        font-family: RubikReg;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: #4F5665;
        margin: 0;
        margin-bottom: 155px;
        text-align: center;
        span {
            font-family: RubikMed;
            font-weight: 500;
        }
    }
    
    .map {
        margin-bottom: 30px;
    }
}

.fifth-section {
    margin-top: 60px;
    margin: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-family: RubikMed;
        font-weight: 500;
        font-size: 35px;
        line-height: 50px;
        color: #0B132A;
        text-align: center;
    }
    h3 {
        font-family: RubikReg;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #4F5665;
        text-align: center;
    }

    .reviews {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
    .review {
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        width: 400px;
        height: 230px;
    }
    .hover {
        border: 2px solid #F53838;
        @include box-shadow(0, 80px, 250px, -130px, #0D1025)
    }
    .review-header {
        margin: 30px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;

        div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            img {
                width: 50px;
                height: 50px;
                margin-right: 20px;
            }
            p {
                font-family: RubikMed;
                font-size: 18px;
                font-weight: 500;
                color: #0B132A;
                margin: 0;
                span {
                    font-family: RubikReg;
                    font-weight: 400;
                    font-size: 14px;
                    color: #4F5665;
                }   
            }
        }
        .raiting {
            display: flex;
            font-family: RubikReg;
            font-size: 16px;
            color: #0B132A;
            &::after {
                content: url(/assets/images/star.svg);
                width: 16px;
                height: 16px;
                margin-left: 10px;
            }
        }
    }

    .review-text {
        display: block;
        margin: 30px;
        margin-top: 0;
        width: 340px;
        height: 100px;
        font-family: RubikReg;
        font-size: 16px;
        line-height: 30px;
        color: #0B132A;
    }
}

main {
    position: absolute;
}

.subscribe {
    position: relative;
    left: 50%;
    right: 50%;
    display: flex;
    width: 1140px;
    height: 233px;
    @include box-shadow(0, 88px, 250px, -112px, #0d102549);
    border-radius: 10px;
    div {
        margin: 58.5px 70px;
        p {
            font-family: RubikMed;
            font-size: 35px;
            line-height: 45px;
            font-weight: 500;
            color: #0B132A;
        }
        span {
            font-family: RubikReg;
            font-size: 16px;
            color: #4F5665;
        }
    }
    
}