@font-face {
  font-family: RubikBold;
  src: url(./assets/fonts/Rubik-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: RubikReg;
  src: url(./assets/fonts/Rubik-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: RubikMed;
  src: url(./assets/fonts/Rubik-Medium.ttf);
  font-weight: 500;
}
body {
  width: 1440px;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 150px;
}
.navigation span {
  display: flex;
  align-items: center;
  font-family: RubikMed, sans-serif;
  font-size: 20px;
  color: #0B132A;
  text-align: center;
  margin-right: 158px;
}
.navigation span .logo {
  width: 35px;
  height: 36.23px;
  margin-right: 10px;
}
.navigation a {
  text-decoration: none;
  color: #4F5665;
  font-family: RubikReg, sans-serif;
  font-size: 16px;
}
.navigation div {
  display: flex;
  flex-direction: row;
  font-family: RubikMed, sans-serif;
  font-size: 16px;
  color: #0B132A;
  align-items: center;
  margin-left: 150px;
}
.navigation div p {
  padding: 0 15px;
}
.navigation div .active {
  border-radius: 50px;
  border: 1px solid #F53855;
  color: #F53855;
  width: 120px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.information {
  display: grid;
  margin-top: 88px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 95.61px 95.61px 95.61px 95.61px;
  margin-right: 83px;
  margin-left: 150px;
}
.information img {
  grid-column: 2;
  grid-row: 1/4;
  width: 611.24px;
  height: 382.44px;
}
.information h1 {
  font-family: RubikMed, sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #0B132A;
  grid-row: 1/2;
  grid-column: 1;
  line-height: 70px;
}
.information h1 span {
  font-family: RubikBold, sans-serif;
}
.information p {
  font-family: RubikMed, sans-serif;
  font-size: 16px;
  color: #4F5665;
  grid-row: 3;
  grid-column: 1;
  line-height: 30px;
}
.information p span {
  font-family: RubikBold, sans-serif;
}
.information button {
  width: 250px;
  height: 60px;
  background-color: #F53838;
  grid-column: 1;
  grid-row: 4;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  font-family: RubikBold;
  cursor: pointer;
  box-shadow: 0 44px 40px -5px rgba(245, 56, 56, 0.3490196078);
}

.stats {
  margin: 0 150px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 200px;
  align-items: center;
  box-shadow: 0 62px 130px -5px rgba(13, 16, 37, 0.1921568627);
}
.stats img {
  width: 55px;
  height: 55px;
}
.stats .user {
  display: grid;
  grid-template-columns: 55px 36.5px auto;
  grid-template-rows: repeat(2, 32.5px);
  justify-content: center;
  align-items: center;
}
.stats .user img {
  grid-column: 1;
  grid-row: 1/3;
}
.stats .user h2 {
  grid-column: 3;
  grid-row: 1/2;
  line-height: 0;
  text-align: center;
  font-family: RubikBold;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}
.stats .user span {
  grid-column: 3;
  grid-row: 2/3;
  text-align: center;
  font-family: RubikReg;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}
.stats .location {
  border-right: 1px solid #EEEFF2;
  border-left: 1px solid #EEEFF2;
  display: grid;
  grid-template-columns: 55px 36.5px auto;
  grid-template-rows: repeat(2, 32.5px);
  justify-content: center;
  align-items: center;
}
.stats .location img {
  grid-column: 1;
  grid-row: 1/3;
}
.stats .location h2 {
  grid-column: 3;
  grid-row: 1/2;
  line-height: 0;
  text-align: center;
  font-family: RubikBold;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}
.stats .location span {
  grid-column: 3;
  grid-row: 2/3;
  text-align: center;
  font-family: RubikReg;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}
.stats .server {
  display: grid;
  grid-template-columns: 55px 36.5px auto;
  grid-template-rows: repeat(2, 32.5px);
  justify-content: center;
  align-items: center;
}
.stats .server img {
  grid-column: 1;
  grid-row: 1/3;
}
.stats .server h2 {
  grid-column: 3;
  grid-row: 1/2;
  line-height: 0;
  text-align: center;
  font-family: RubikBold;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}
.stats .server span {
  grid-column: 3;
  grid-row: 2/3;
  text-align: center;
  font-family: RubikReg;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}

.second-section {
  margin: 0 150px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 100%;
  gap: 169.48px;
}
.second-section div {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}
.second-section img {
  grid-column: 1;
}
.second-section h2 {
  font-family: RubikMed;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}
.second-section h3 {
  font-family: RubikReg;
  font-family: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}
.second-section p {
  display: flex;
  font-family: RubikReg;
  font-size: 14px;
  line-height: 30px;
  margin: 15px 0;
}
.second-section p::before {
  content: url(./assets/images/check-mark.svg);
  width: 24px;
  height: 24px;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */