@font-face {
    font-family: RubikBold;
    src: url(./assets/fonts/Rubik-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: RubikReg;
    src: url(./assets/fonts/Rubik-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: RubikMed;
    src: url(./assets/fonts/Rubik-Medium.ttf);
    font-weight: 500;
}

.main-bg {
    background-color: #FFFFFF;
    section {
        margin: 50px 150px;
    }
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    span {
        display: flex;
        align-items: center;
        font-family: Rubikmed, sans-serif;
        font-size: 20px;
        color: #0B132A;
        text-align: center;
        margin-right: 158px;
        .logo {
            width: 35px;
            height: 36.23px;
            margin-right: 10px;
        }
    }
    a {
        text-decoration: none;
        color: #4F5665;
        font-family: RubikReg, sans-serif;
        font-size: 16px;
    }

    div {
        display: flex;
        flex-direction: row;
        font-family: RubickMed, sans-serif;
        font-size: 16px;
        color: #0B132A;
        align-items: center;
        margin-left: 150px;
        p {
            padding: 0 15px;
        }
        .active {
            border-radius: 50px;
            border: 1px solid #F53855;
            color: #F53855;
            width: 120px;
            height: 45px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.information {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 95.61px 95.61px 95.61px 95.61px;
    img {
        grid-column: 2;
        grid-row: span(1);
    }
}