@font-face {
    font-family: RubikBold;
    src: url(./assets/fonts/Rubik-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: RubikReg;
    src: url(./assets/fonts/Rubik-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: RubikMed;
    src: url(./assets/fonts/Rubik-Medium.ttf);
    font-weight: 500;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
    -moz-box-shadow: $x $y $blur $spread $color;
    -webkit-box-shadow: $x $y $blur $spread $color;
    box-shadow: $x $y $blur $spread $color;
}

@mixin fonts($fontName, $fontWeght, $fontSize, $fontColor) {
    font-family: $fontName, sans-serif, Arial, Helvetica, sans-serif;
    font-weight: $fontWeght;
    font-size: $fontSize;
    color: $fontColor;
}

@mixin doFlex($isRow, $isColum, $Just: none, $aling: none) {
    display: flex;

    @if ($isRow) {
        flex-direction: row;
    }

    @if ($isColum) {
        flex-direction: column;
    }

    @if ($Just !=none) {
        justify-content: $Just;
    }

    @if ($aling !=none) {
        align-items: $aling;
    }

}

@mixin buttonAnimate {
    animation: 200ms hover forwards;

    @keyframes hover {
        from {
            border: 1px solid #F53855;
            color: #F53855;
            background-color: transparent;
        }

        to {
            @include box-shadow(0, 24px, 30px, -10px, #F53838);
            background-color: #F53838;
            color: #FFFFFF;
        }

    }
}

body {
    width: 1440px;
    background-color: #FFFFFF;
}

.navigation {
    @include doFlex(true, false, space-between, center);
    margin: 50px 150px;

    span {
        @include doFlex(false, false, none, center);
        @include fonts(RubikMed, 500, 20px, #0B132A);
        text-align: center;
        margin-right: 158px;

        .logo {
            width: 35px;
            height: 36.23px;
            margin-right: 10px;
        }
    }

    a {
        text-decoration: none;
        @include fonts(RubikReg, 400, 16px, #4F5665);
    }

    div {
        @include doFlex(true, false, none, center);
        @include fonts(RubikMed, 500, 16px, #0B132A);
        margin-left: 150px;

        p {
            padding: 0 15px;
        }

        .active {
            border-radius: 50px;
            border: 1px solid #F53855;
            color: #F53855;
            background-color: transparent;
            width: 120px;
            height: 45px;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            &:hover {
                @include buttonAnimate();

            }
        }
    }
}

.information {
    display: grid;
    margin-top: 88px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 95.61px 95.61px 95.61px 95.61px;
    margin-right: 83px;
    margin-left: 150px;

    img {
        grid-column: 2;
        grid-row: 1/4;
        width: 611.24px;
        height: 382.44px;
    }

    h1 {
        @include fonts(RubikMed, 500, 50px, #0B132A);
        grid-row: 1/2;
        grid-column: 1;
        line-height: 70px;

        span {
            font-family: RubikBold, sans-serif;
        }
    }

    p {
        @include fonts(RubikMed, 500, 16px, #4F5665);
        grid-row: 3;
        grid-column: 1;
        line-height: 30px;

        span {
            font-family: RubikBold, sans-serif;
            font-weight: 700;
        }
    }

    button {
        width: 250px;
        height: 60px;
        grid-column: 1;
        border: 1px solid #F53855;
        background-color: transparent;
        grid-row: 4;
        border-radius: 10px;
        @include fonts(RubikBold, 700, 16px, #F53855);

        &:hover {
            @include buttonAnimate();
        }
    }
}

.stats {
    margin: 0 150px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 200px;
    align-items: center;
    @include box-shadow(0, 62px, 130px, -5px, #0d102531);

    img {
        width: 55px;
        height: 55px;
    }

    .user {
        display: grid;
        grid-template-columns: 55px 36.5px auto;
        grid-template-rows: repeat(2, 32.5px);
        justify-content: center;
        align-items: center;

        img {
            grid-column: 1;
            grid-row: 1/3;
        }

        h2 {
            grid-column: 3;
            grid-row: 1/2;
            line-height: 0;
            text-align: center;
            @include fonts(RubikBold, 700, 25px, #0B132A);
            line-height: 30px;
        }

        span {
            grid-column: 3;
            grid-row: 2/3;
            text-align: center;
            @include fonts(RubikReg, 400, 20px, #4F5665);
            line-height: 30px;
        }
    }

    .location {
        border-right: 1px solid #EEEFF2;
        border-left: 1px solid #EEEFF2;
        display: grid;
        grid-template-columns: 55px 36.5px auto;
        grid-template-rows: repeat(2, 32.5px);
        justify-content: center;
        align-items: center;

        img {
            grid-column: 1;
            grid-row: 1/3;
        }

        h2 {
            grid-column: 3;
            grid-row: 1/2;
            line-height: 0;
            text-align: center;
            @include fonts(RubikBold, 700, 25px, #0B132A);
            line-height: 30px;
        }

        span {
            grid-column: 3;
            grid-row: 2/3;
            text-align: center;
            @include fonts(RubikReg, 400, 20px, #4F5665);
            line-height: 30px;
        }

    }

    .server {
        display: grid;
        grid-template-columns: 55px 36.5px auto;
        grid-template-rows: repeat(2, 32.5px);
        justify-content: center;
        align-items: center;

        img {
            grid-column: 1;
            grid-row: 1/3;
        }

        h2 {
            grid-column: 3;
            grid-row: 1/2;
            line-height: 0;
            text-align: center;
            @include fonts(RubikBold, 700, 25px, #0B132A);
            line-height: 30px;
        }

        span {
            grid-column: 3;
            grid-row: 2/3;
            text-align: center;
            @include fonts(RubikReg, 400, 20px, #4F5665);
            line-height: 30px;
        }
    }
}

.second-section {
    margin: 0 150px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 100%;
    gap: 169.48px;

    div {
        grid-column: 2;
        @include doFlex(false, true, none, none);
    }

    img {
        grid-column: 1;
    }

    h2 {
        @include fonts(RubikMed, 500, 35px, #0B132A);
        line-height: 50px;
        margin: 0;
        margin-bottom: 20px;
    }

    h3 {
        @include fonts(RubikReg, 400, 16px, #4F5665);
        margin: 0;
        margin-bottom: 20px;
    }

    p {
        @include fonts(RubikReg, 400, 14px, #4F5665);
        @include doFlex(false, false, none, none);
        line-height: 30px;
        margin: 7.5px 0;

        &::before {
            content: url(./assets/images/check-mark.svg);
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
    }

    margin-bottom: 119.23px;
}

.third-section {
    @include doFlex(false, true, none, center);

    .head-third-section {
        @include fonts(RubikMed, 500, 35px, #0B132A);
        line-height: 50px;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .second-head-third-section {
        @include fonts(RubikReg, 400, 16px, #4F5665);
        line-height: 30px;
        margin: 0;
        margin-bottom: 60px;
    }

    .cards {
        @include doFlex(true, false, none, none);

        .card {
            @include doFlex(false, true, space-between, center);
            width: 330px;
            height: 760px;
            margin: 0 25px;
            border: 2px solid #DDDDDD;
            border-radius: 10px;

            img {
                margin-top: 80px;
                margin-bottom: 30px;
            }

            h4 {
                @include fonts(RubikMed, 500, 18px, #0B132A);
                line-height: 30px;
                margin: 0;
                margin-bottom: 20px;
            }

            p {
                @include doFlex(false, false, none, none);
                @include fonts(RubikReg, 400, 14px, #4F5665);
                line-height: 30px;
                margin: 10px 0;

                &::before {
                    content: url(/assets/images/jam_check.svg);
                    width: 24px;
                    height: 24px;
                    margin-right: 20px;
                }
            }

            div {
                h3 {
                    @include fonts(RubikMed, 500, 25px, #0B132A);
                    line-height: 30px;
                    margin: 0;
                    margin-bottom: 20px;

                    span {
                        @include fonts(RubikReg, 400, 25px, #4F5665);
                    }
                }

                button {
                    border: 2px solid #F53838;
                    background-color: transparent;
                    @include fonts(RubikBold, 700, 16px, #F53838);
                    border-radius: 50px;
                    width: 175px;
                    height: 45px;
                    margin-bottom: 50px;
                }
            }

            &:hover {
                button:hover {
                    @include buttonAnimate();
                }

                border: 2px solid #F53838;
            }
        }
    }
}

.fouth-section {
    margin-top: 150px;
    @include doFlex(false, true, none, center);

    h2 {
        @include fonts(RubikMed, 500, 35px, #0B132A);
        line-height: 50px;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    h3 {
        @include fonts(RubikReg, 400, 16px, #4F5665);
        line-height: 30px;
        margin: 0;
        margin-bottom: 155px;
        text-align: center;

        span {
            @include fonts(RubikMed, 500, 16px, #4F5665);
        }
    }

    .map {
        margin-bottom: 30px;
    }
}

.fifth-section {
    margin-top: 60px;
    margin: 0 150px;
    @include doFlex(false, true, none, center);

    h2 {
        @include fonts(RubikMed, 500, 35px, #0B132A);
        line-height: 50px;
        text-align: center;
    }

    h3 {
        @include fonts(RubikReg, 400, 16px, #4F5665);
        line-height: 30px;
        text-align: center;
    }

    .reviews {
        margin-top: 60px;
        @include doFlex(true, false, none, none);
        gap: 50px;
    }

    .review {
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        width: 400px;
        height: 230px;

        &:hover {
            border: 2px solid #F53838;
            @include box-shadow(0, 80px, 250px, -130px, #0D1025)
        }
    }

    .review-header {
        margin: 30px;
        margin-bottom: 20px;
        @include doFlex(true, false, space-between, none);
        height: 50px;

        div {
            @include doFlex(true, false, none, center);
            flex-wrap: wrap;

            img {
                width: 50px;
                height: 50px;
                margin-right: 20px;
            }

            p {
                @include fonts(RubikMed, 500, 18px, #0B132A);
                margin: 0;

                span {
                    @include fonts(RubikReg, 400, 14px, #4F5665);
                }
            }
        }

        .raiting {
            @include doFlex(false, false, none, none);
            @include fonts(RubikReg, 400, 16px, #0B132A);

            &::after {
                content: url(/assets/images/star.svg);
                width: 16px;
                height: 16px;
                margin-left: 10px;
            }
        }
    }

    .review-text {
        display: block;
        margin: 30px;
        margin-top: 0;
        width: 340px;
        height: 100px;
        @include fonts(RubikReg, 400, 16px, #0B132A);
        line-height: 30px;
    }
}

main {
    position: relative;
}

.linar {
    background: linear-gradient(0deg, #f8f8f800 0%, #F8F8F8 100%);
}

.subscribe {
    position: absolute;
    @include doFlex(false, false, space-between, none);
    width: 1140px;
    height: 233px;
    left: 50%;
    transform: translate(-50%, 25%);
    background-color: #FFFFFF;
    @include box-shadow(0, 88px, 250px, -112px, #0d102549);
    border-radius: 10px;

    div {
        margin: 58.5px 70px;

        p {
            @include fonts(RubikMed, 500, 35px, #0B132A);
            line-height: 45px;
            margin: 0;
            margin-bottom: 20px;
        }

        span {
            @include fonts(RubikReg, 400, 16px, #4F5665);
        }
    }

    button {
        width: 250px;
        height: 80px;
        border-radius: 10px;
        margin: 86.5px 70px;
        border: 1px solid #F53855;
        background-color: transparent;
        @include fonts(RubikBold, 700, 16px, #F53855);

        &:hover {
            @include buttonAnimate();
        }
    }
}

footer {
    background-color: #F8F8F8;
    margin-top: 181.52px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left-side {
    grid-column: 1;
    margin-top: 180px;
    margin-left: 150px;

    .logoText {
        @include fonts(RubikMed, 500, 20px, #0B132A);
        @include doFlex(true, false, none, center);
        margin-bottom: 20px;

        img {
            width: 35px;
            height: 36.23px;
            margin-right: 10px;
        }
    }

    .logs {
        @include doFlex(false, false, none, none);
        gap: 20px;
        margin-bottom: 30px;

        img {
            background-color: #F53838;
            border-radius: 50px;
            width: 33.6px;
            height: 33.6px;
            @include box-shadow(0, 13px, 18px, 0, #11132310)
        }
    }

    .under-logo-text {
        display: block;
        width: 340px;
        @include fonts(RubikReg, 400, 16px, #4F5665);
        line-height: 30px;
        margin-bottom: 30px;

        span {
            @include fonts(RubikMed, 500, 16px, #4F5665);
        }
    }

    .copy {
        @include fonts(RubikReg, 400, 16px, #AFB5C0);
        line-height: 30px;
    }
}

.right-side {
    grid-column: 2;
    @include doFlex(true, false, none, none);
    gap: 126px;

    div {
        @include doFlex(false, true, none, none);
        gap: 20px;
        margin-top: 180px;
        margin-bottom: 100px;

        h3 {
            @include fonts(RubikMed, 500, 18px, #0B132A);
            line-height: 30px;
            margin: 0;
        }

        a {
            @include fonts(RubikReg, 400, 16px, #4F5665);
            text-decoration: none;
            line-height: 30px;
            margin: 0;
        }
    }
}